@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<VMTbTPembayaran>?
@{
}
<div class="container-xxl py-5 category">
    <div class="container">
        <br />

        <!-- Form Filter Jurusan -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-2">Nama</div>
                        <div class="col-10"> : @ViewBag.Siswa?.Fullname</div>
                    </div>
                    <div class="row">
                        <div class="col-2">NIS</div>
                        <div class="col-10"> : @ViewBag.Siswa?.Nis</div>
                    </div>
                    <div class="row">
                        <div class="col-2">Kelas</div>
                        <div class="col-10"> : @ViewBag.Siswa?.NamaKelas - @ViewBag.Siswa?.NamaJurusan </div>
                    </div>

                </div>
            </div>
        @if (Context.Session.GetInt32("userRoleId") == 1)
        {
            <button data-id="@ViewBag.Siswa.Id" class="btn btn-info btnbayar" title="Create" data-bs-toggle="modal" data-bs-target="#staticModal">Bayar SPP</button>
        }


        @{
            if (Model != null && Model.Count > 0)  // Perbaiki kondisi pengecekan
            {

                <div class="text-center">
                    <h6 class="section-title bg-white text-center text-primary px-3">Riwayat Pembayaran</h6>
                    <br />
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="col-1 text-center">Bulan</th>
                                <th class="col-1 text-center">Tahun</th>
                                <th class="col-1 text-center">Jumlah</th>
                                <th class="col-1 text-center">Id Petugas Bayar</th>
                                <th class="col-2 text-center">Tanggal Bayar</th>
                                <th class="col-2 text-center">Cetak</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var siswa in Model)
                            {
                                <tr>
                                    <td class="text-center">@siswa.Bulan</td>
                                    <td class="text-center">@siswa.Tahun</td>
                                    <td class="text-center">@siswa.Jumlah</td>
                                    <td class="text-center">@siswa.CreatedBy</td>
                                    <td class="text-center">@siswa.CreatedOn.ToString("dd-MM-yyyy")</td>

                                    <td class="text-center">
                                        <button data-id="@siswa.Id" title="Cetak" class="btn btn-primary btnCetak w-100">
                                            Cetak <i>(.pdf)</i>
                                        </button>
                                    </td>
                                    
                                </tr>
                            }
                            @if (Context.Session.GetInt32("userRoleId") == 2)
                            {
                                @if (ViewBag.NextMonths != null)
                                {
                                    foreach (var bulan in ViewBag.NextMonths)
                                    {
                                        <tr>
                                            <td>@bulan</td>
                                            <td>@DateTime.Now.Year</td>
                                            <td colspan="4">Belum Bayar</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>

                
            }
            else
            {
                <p>Belum Melakukan Pembayaran</p>
            }
        }
        
    </div>
</div>
<script>
    $(".btnbayar").click(function (e) {
        $("#staticModalBody").html("");
        $("#staticModalBody").load("/Pembayaran/Create/" + $(this).data("id"));
    });
    $(".btnCetak").click(function (e) {
        e.preventDefault(); // Mencegah perilaku default tombol jika ada
        let id = $(this).data("id");
        let url = "/Pembayaran/PrescriptionPdf/" + id;
        window.open(url, "_blank");
    });

</script>