@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<div class="card">
    <div class="card-body">
                <form id="formbayarspp">
                    <div class="card-title row">
                        <div class="col-4">Tahun<span class="text-danger"> * </span></div>
                        <div class="col-8"><input type="text" class="form-control" name="Tahun" value="@DateTime.Now.Year" /></div>
                    </div>
                    <div class="card-title row">
                        <div class="col-4">Bulan<span class="text-danger"> * </span></div>
                        <div class="col-8">
                            <select id="bulan" name="Bulan" class="form-select">
                                <option value="">-- Pilih Bulan --</option>
                                @if (ViewBag.NextMonths != null)
                                {
                                    foreach (var bulan in ViewBag.NextMonths)
                                    {
                                        <option value="@bulan">@bulan</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="card-title row">
                        <div class="col-4">Jumlah SPP Perbulan<span class="text-danger"> * </span></div>
                        <div class="col-8"><input type="text" class="form-control" name="Jumlah" value="@ViewBag.JumlahSpp" /></div>
                    </div>
                    <input type="hidden" name="KelasId" value="@ViewBag.KelasId" />
                    <input type="hidden" name="SiswaId" value="@ViewBag.SiswaId" />
                </form>
            

    </div>
    <div class="card-footer d-flex justify-content-end">
        <button type="button" class="btn btn-success" id="btnSave">Save</button>
        &nbsp;
        <button type="reset" class="btn btn-primary" id="btnReset">Reset</button>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(() => {
        $("#staticModalLabel").text("@ViewBag.Title");
        $("#btnSave").click(function (e) {

            $.ajax({
                url: "/Pembayaran/Create",
                type: "post",
                data: $("#formbayarspp").serialize(),
                dataType: "json",
                //beforeSend: () => { },
                success: function (response) {
                    if (response.statusCode == 200 || response.statusCode == 201) {
                        // Tampilkan alert sukses
                        Swal.fire({
                            icon: 'success',
                            title: 'Pembayaran Berhasil Dilakukan, Silahkan Cetak bukti pembayaran',
                            showConfirmButton: false,
                            timer: 3000 // Show the alert for 2 seconds
                        }).then(() => {
                            location.reload(); // Reload page after alert
                        });
                    } else {
                        alert(response.statusCose + " - " + response.message)
                    }
                },
                error: function (errResponse) {
                    console.error(errResponse);
                }
            });

            return false;
        });
        $("#formbayarspp").submit(function (e) {
            //desable from submit function
            e.preventDefault();
        });
        $("#btnReset").click(() => {
            $("#formbayarspp")[0].reset();
        });
    });
</script>